# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Conda
env/
.conda/
venv*/
*.egg-info

# run outputs
outputs

#sh files
pull_git_cluster.sh
push_local_git.sh
push_cluster_git.sh

# OS
.DS_Store
Thumbs.db
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
