# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Conda
env/
.conda/
venv*/
*.egg-info

# run outputs
outputs

#sh files
auto_push.sh
cluster_git_update.sh

# OS
.DS_Store
Thumbs.db
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
outputs/
